* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 60vh 40vh;
}

.chat_sidebar {
    padding: 10px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.header_room {
    padding-bottom: 10px;
}

.header__users {
    padding-top: 10px;
}

.chat_messages {
    margin: 10px;
    border: 1px solid green;
    overflow: scroll;
}

#chat_form {
    margin: 10px;
}
